@page
@model PokemonFanSite.Pages.Regions.KantoModel
@{
    ViewData["Title"] = "Kanto";
}

<h1>Kanto</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    Search
                </button>
            </span>
        </div>
    </div>
</form>

<table class="table">
    @foreach (var pokemon in Model.Pokemon)
    {
        <tr>
            <td>@pokemon.Name</td>
            <td>@pokemon.DexNumber</td>
            <td>@pokemon.Type</td>
            <td>
                <a class="btn btn-lg" asp-page="../PokemonData/Detail" asp-route-pokemonId="@pokemon.Id">Details</a>
            </td>
        </tr>
    }
</table>


